/* fonts */
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Lemon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Mali', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container_{
    padding: 0;
    margin: 0;
}




/* HOMEPAGE */
#home-page{
    background: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    box-shadow: 1px 1px 15px #706f6f86;
}
#homepage-background{
    width: 100vw;
    height: 100vh;
}
.home-page-content{ 
    color: white;
    padding-top: 180px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-page-content h1{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px 9px #000000;
    font-size: 5rem;
}
.home-page-content h3{
    margin: 170px 0;
    text-shadow: 2px 2px 8px #000000;
}





/* NAVBAR */
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 0;
    transition: 0.3s ease-in-out;
    /* background-color: #1d1f1d00; */
}
nav.active{
    box-shadow: 1px 1px 15px #00000038;
    background-color: #1e201eed;
}
.navigation-links{
    padding: 0;
    margin: 10px 0;
    display: flex;
    list-style: none;
}
.nav-item{
    color: white;
    margin: 1rem;
    text-decoration: none;
    transition: 0.1s ease-out;
    display: flex;
}
.nav-item:hover{
    transform: scale(1.1);
}
.logo{
    font-family: 'Lemon', cursive; 
    display: flex;
    align-items: center;
    font-size: 1.15rem;
}





/* Login page */
.login-page-content{ 
    height: 100vh;
    color: #1d1f1e;
    background-color: #b3a78c9a;
    margin: 0;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page-content h2{
    color: black;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.login-div{
    background-color: white;
    margin-top: 50px;
    box-shadow: 1px 1px 15px #706f6f38;
    border-radius: 1em;
    width: calc(100%/2);
    height: calc(100%/2);
    height: fit-content;
}
.login-form-div{
    margin: 2rem;
}
.login-row{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-button-row{
    display: flex;
    justify-content: center;
}
.input-text{
    height: 35px;
    font-size: 1em;
    text-align:  center;
    width: 90%;
    border: solid white;
    background-color: #a7a6a64d;
    border-radius: 1em;
    /* align-items: center; */
}
.button-login{
    width: fit-content;
    margin: 10px;
    padding: 0 2em; 
    height: 40px;
    color: white;
    border: solid;
    font-size: 0.8em;
    background-color: #000000;
    border-radius: 1em;
    transition: 0.1s ease-out;
}
.button-login:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #5c5a5a;
}






/* Sign up page */
.Signup-process{
    box-shadow: 1px 1px 15px #706f6f38;
    padding: 1em;
    height: 8px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-size: 0.9em;
    color: #000000;
    background-color: #ffffff;
    position: fixed;
    top: 100px;
}





/* CV page */
.CV, .upload-file{
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Profile page */
#profile-page{
    background: no-repeat url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1674&q=80");
    padding: 150px;
    box-shadow: 1px 1px 15px #706f6f9a;
    color: white;
}
.profile-page-hero{
    display: flex;
}
.profile-page-introduction-left{ 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-introduction{
    background-color: #ffffff13;
    height: fit-content;
    width: 70%;
    padding: 2em;
    margin-bottom: 40px;
    border-radius: 1em;
}
.profile-page-introduction-left h1{
    margin: 0;
    font-family: 'Mali', cursive;
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 2rem;
}
.workStatus{
    display: flex;
    justify-content: center;
}
.profile-buttons{
    width: fit-content;
    font-family: 'Mali', cursive;
    padding: 0 1em; 
    margin: 0 15px;
    height: 40px;
    color: white;
    border: none;
    font-size: 0.8em;
    background-color: #ffffff32;
    border-radius: 1em;
    transition: 0.1s ease-out;
}
.profile-buttons:hover{
    cursor: pointer;
    background-color: #ffffff59;
}


.profile-page-introduction-left p{
    /* margin: 170px 0; */
    color: #b7c9ca;
    text-shadow: 2px 2px 8px #000000;
}
.profile-introduction-img{
    display: flex;
    justify-content: center;
}
.profile-introduction-img img{
    width: 300px;
    border-radius:100%;
    line-height: 100px;
}

.profile-page-about{
    margin-top: 100px;
}
.profile-page-about p{
    color: #b7c9ca;
}

.highlights-div{
    display: flex;
    justify-content: center;
}
.highlights-div-content{
    width: 70%;
    height: fit-content;
    box-shadow: 1px 1px 15px #706f6f75;
    border-radius: 1em;
    padding: 30px;
    margin-top: 60px;
}
.highlights-div-content p{
    color: #727272;
}



/* FOOTER */
#footer{
    display: flex;
    padding: 70px ;
}
.footer-logo{
    margin: auto 0;
    /* margin-left: 250px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo p{
    font-size: 0.7rem;
    color: #909090;
}
.footer-links{
    color: #818181;
    display: flex;
    flex-direction: row;
    align-items: center;
}





/* RECRUIT DIV */
.recruit{
    background-color: #b1b1b1;
    padding: 120px;
    color: white;
    /* height: 100vh; */
}
.recruit-Div{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}
.recruit-icon-name{
    display: flex;
}
.recruit-icon-name-button{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.recruit-icon-name h4, h5{
    margin: 0;
}
.company-name p{
    margin: 0;
    font-size: 0.7rem;
}
.company-name{
    padding-left: 20px;
    color: black;
}
.recruit-button{
    border: none;
    border-radius: 1em;
    background-color: #c57b26;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 1em;
}
.button-requirement{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.recruit-apply-button{
    border: solid 2px #3570dd;
    border-radius: 1em;
    background-color: #ffffff;
    color: #3570dd;
    height: fit-content;
    width: fit-content;
    padding: 1em 2em;
    font-size: 1rem;
    margin-left: 100px;
    cursor: pointer;
}
.recruit-apply-button:hover{
    background-color: #e0e0e0;
}

/* @media (max-width: 800px){
    nav{
        display: flex;
        flex-direction: column;
        position: unset;
        height: 50%;
    }
    .navigation-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home-page{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} */
